﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% string path = Url.VirtualContent(); %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
    <link rel="shortcut icon" href="http://rpg.arenah.com.br/Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://rpg.arenah.com.br/Content/Images/favicon.ico" type="image/ico" />

        <link href="<%= path %>Content/Styles/skel-noscript.css" rel="stylesheet" type="text/css" />
        <link href="<%= path %>Content/Styles/style.css" rel="stylesheet" type="text/css" />
        <link href="<%= path %>Content/Styles/style-desktop.css" rel="stylesheet" type="text/css" />
    <!-- noscript>
    </noscript -->
    <!--[if lte IE 9]><link href="<%= path %>Content/Styles/ie9.css" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if lte IE 9]><link href="<%= path %>Content/Styles/ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="<%= path %>Content/Styles/ie8.css" /><![endif]-->
    <asp:ContentPlaceHolder ID="MainHeader" runat="server">
    </asp:ContentPlaceHolder>
    <script src="<%= path %>Content/Scripts/jquery.min.js" type="text/javascript"></script>
    
</head>
<body>
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    <input type="hidden" id="path" value="<%= Url.VirtualContent() %>"/>
    <input type="hidden" id="mvc" value="<%= WebConfig.GetBoolKey("UseMvcOnUrl") ? ".mvc" : "" %>"/>
    <input type="hidden" id="arenahDuelsSite" value="<%= WebConfig.GetKey("ArenahDuelsSite") %>"/>
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= WebConfig.GetKey("Analytics") %>']);
        _gaq.push(['_setDomainName', '.arenah.com.br']);
        _gaq.push(['_setAllowLinker', 'true']);
        _gaq.push(['_setAllowHash', 'false']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        $(document).ready(function () {
            onerror = errorHandler;

            function errorHandler(errMessage, url, line) {
                _gaq.push(['_trackEvent', 'Erros', errMessage, url + ": " + line]);
                return true;
            };
        })

        window._skel_config = {
            preset: 'standard',
            prefix: '/<%= WebConfig.GetKey("VirtualDirectory") %>Content/Styles/style',
            resetCSS: true,
            breakpoints: {
                'desktop': {
                    grid: {
                        gutters: 50
                    }
                }
            }
        };

        jQuery(function () {

            jQuery.fn.n33_formerize = function () { var _fakes = new Array(), _form = jQuery(this); _form.find('input[type=text],textarea').each(function () { var e = jQuery(this); if (e.val() == '' || e.val() == e.attr('placeholder')) { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } }).blur(function () { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) return; if (e.val() == '') { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } }).focus(function () { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) return; if (e.val() == e.attr('placeholder')) { e.removeClass('formerize-placeholder'); e.val(''); } }); _form.find('input[type=password]').each(function () { var e = jQuery(this); var x = jQuery(jQuery('<div>').append(e.clone()).remove().html().replace(/type="password"/i, 'type="text"').replace(/type=password/i, 'type=text')); if (e.attr('id') != '') x.attr('id', e.attr('id') + '_fakeformerizefield'); if (e.attr('name') != '') x.attr('name', e.attr('name') + '_fakeformerizefield'); x.addClass('formerize-placeholder').val(x.attr('placeholder')).insertAfter(e); if (e.val() == '') e.hide(); else x.hide(); e.blur(function (event) { event.preventDefault(); var e = jQuery(this); var x = e.parent().find('input[name=' + e.attr('name') + '_fakeformerizefield]'); if (e.val() == '') { e.hide(); x.show(); } }); x.focus(function (event) { event.preventDefault(); var x = jQuery(this); var e = x.parent().find('input[name=' + x.attr('name').replace('_fakeformerizefield', '') + ']'); x.hide(); e.show().focus(); }); x.keypress(function (event) { event.preventDefault(); x.val(''); }); }); _form.submit(function () { jQuery(this).find('input[type=text],input[type=password],textarea').each(function (event) { var e = jQuery(this); if (e.attr('name').match(/_fakeformerizefield$/)) e.attr('name', ''); if (e.val() == e.attr('placeholder')) { e.removeClass('formerize-placeholder'); e.val(''); } }); }).bind("reset", function (event) { event.preventDefault(); jQuery(this).find('select').val(jQuery('option:first').val()); jQuery(this).find('input,textarea').each(function () { var e = jQuery(this); var x; e.removeClass('formerize-placeholder'); switch (this.type) { case 'submit': case 'reset': break; case 'password': e.val(e.attr('defaultValue')); x = e.parent().find('input[name=' + e.attr('name') + '_fakeformerizefield]'); if (e.val() == '') { e.hide(); x.show(); } else { e.show(); x.hide(); } break; case 'checkbox': case 'radio': e.attr('checked', e.attr('defaultValue')); break; case 'text': case 'textarea': e.val(e.attr('defaultValue')); if (e.val() == '') { e.addClass('formerize-placeholder'); e.val(e.attr('placeholder')); } break; default: e.val(e.attr('defaultValue')); break; } }); window.setTimeout(function () { for (x in _fakes) _fakes[x].trigger('formerize_sync'); }, 10); }); return _form; };
            jQuery.browser = {}; (function () { jQuery.browser.msie = false; jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) { jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1; } })();

            var _bh = jQuery('body, html'),
		    _window = jQuery(window),
		    _nav = jQuery('#nav');

            // Forms
            if (jQuery.browser.msie && jQuery.browser.version <= 9)
                jQuery('form').n33_formerize();

            jQuery('form .form-button-submit').click(function (e) { e.preventDefault(); jQuery(this).closest('form').submit(); });
            jQuery('form .form-button-reset').click(function (e) { e.preventDefault(); jQuery(this).closest('form')[0].reset(); });

            // Links
            jQuery('a').click(function (e) {
                var t = jQuery(this), h = t.attr('href'), article;

                if (h.charAt(0) == '#' && h.length > 1 && (article = jQuery('article#' + h.substring(1))).length > 0) {
                    var pos = Math.max(article.parent().offset().top - _nav.height() + 15, 0);
                    e.preventDefault();
                    _bh.animate({ scrollTop: pos }, 'slow', 'swing');
                }
            });

        });
    </script>
    <script src="<%= path %>Content/Scripts/skel.min.js" type="text/javascript"></script>
    <!--[if lte IE 8]><script src="<%= path %>Content/Scripts/html5shiv.js" type="text/javascript"></script><![endif]-->
    <asp:ContentPlaceHolder ID="Javascripts" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
